
<div class="nav-container">
    <nav>
      
      <label for="nav-toggle" class="burger-menu">
        <img src="media/menu.png" alt="">
      </label>
      <div class="left-menu">
          <a href="/home">Home</a>
          <a href="/profile">Your profile</a>
      </div>
      <a href="/home" class="logo">Home</a>
      <div class="right-menu">
          <% if (!isLoggedIn) { %>
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>
          <% } else  { %>
            <form action="/logout" method="POST">
              <button type="submit" >Logout</button>
            </form>
          <% } %>
      </div>
    </nav>
</div>
           
<!-- <nav class="nav">
  <div>
 
  </div>
  <div>
  
  </div>
</nav> --> 