<header class="main-header">
  <div class="nav-brand">
    <a href="/home">Home</a>
  </div>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="main-nav-list__item">
        <a href="/profile">My Profile</a>
      </li>
      <% if(!isLoggedIn) { %> 
        <li class="main-nav-list__item">
            <a href="/signup">Sign up</a>
        </li>
        <li class="main-nav-list__item">
            <a href="/login">Login</a>
        </li>
        <% } else { %>
          <li class="main-nav-list__item">
            <form action="/logout" method="POST">
              <button type="submit" >Logout</button>
            </form>
          </li>
        <% } %>
    </ul>
  </nav>
</header>

<!-- 
      <label for="nav-toggle" class="burger-menu">
        <img src="media/menu.png" alt="">
      </label>
      <div class="left-menu">
          <a href="/home">Home</a>
          <a href="/profile">Your profile</a>
      </div>
      <a href="/home" class="logo">Home</a>
      <div class="right-menu">
          <% if (!isLoggedIn) { %>
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>
          <% } else  { %>
            <form action="/logout" method="POST">
              <button type="submit" >Logout</button>
            </form>
          <% } %>
      </div>
  
           
<nav class="nav">
  <div>
 
  </div>
  <div>
  
  </div>
</nav> -->  