main {
  width: 80%;
  margin: 0 auto;
}

.homepage-wrapper {
  display:flex;
  flex-direction: row;
}

.who-to-follow {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 20px;
  background: #f8f8f8;
  margin-top: 2rem;
  font-size: 0.8rem;
}
.who-to-follow h1 {
  margin: 0;
  background: #3793d1;
  padding: 0.2rem;
  border-bottom: 1px solid #bbbbbb;
  color: #f8f8f8;
  text-align: center;
}

.follow-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #bbbbbb;
}

.follow-user:last-of-type {
  border:none;
}

.follow-user img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-top:1.2vh;
}

.follow-user .followers,
.follow-user .following {
  border-radius: 20px;
  background: #3793d1;
  color: white;
  padding: 0.5rem;
}

.follow-button {
  outline: none;
  padding: 0.5rem;
  border: 1px solid #3793d1;
  border-radius: 20px;
  font-size: 0.8rem;
}
.follow-button:hover {
  background: #3793d1;
  color: white;
}

.post-list {
  width: 45%;
  margin: 0 2.5%;
  margin-top: 2rem;
}

.post-list .form input,
.post-list .form label,
.post-list .form button {
  display: block;
  margin:1rem auto;
}

.post-list .form label {
  text-align: center;
  font-size: 1.5rem;
}

.post-list .form input {
  width: 90%;
  padding: 0.5rem;
  font-size: 1.2rem;

}

.post-list .form button {
  margin: 0 auto;
  outline: none;
  padding: 0.8rem;
  border: 1px solid #3793d1;
  border-radius: 20px;
  font-size: 1.2rem;
}

.post-list .form button:hover {
  background: #3793d1;
  color: white;
}

.post {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 1rem auto;
  border:1px solid #bbbbbb;
  border-left:none;
  border-right: none;
}

.post .image {
  border-right: 1px solid #bbbbbb;
  padding: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post .image img {
  margin: 0;
}

.post .image p {
  margin: 0;
  font-size: 0.6rem;
}

.post-items {
  flex-grow: 1;
}

.post-content {
  padding: 0.5rem;
  font-weight: 100;
}

.post-details {
  position: absolute;
  bottom: 1px;
  right: 0;
}
.post-details form {
  display: inline;
}

.post-details .delete-button {
  padding: 0.3rem;
  border:1px solid red;
  font-size: 0.5rem;
  background: white;
}

.post-details .delete-button:hover {
  background: #d13737;
  color: white
}

.post-details .edit-button {
  padding: 0.3rem;
  border:1px solid green;
  font-size: 0.5rem;
  background: white;
}

.post-details .edit-button:hover {
  background: #53c94f;
  color: white
}

.posted-by {
  /* width: 20%; */
}

.hashtags {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 20px;
  background: #f8f8f8;
  margin-top: 2rem;
  font-size: 0.8rem;
  max-height: 37vh;
}

.hashtags h1 {
  margin: 0;
  background: #3793d1;
  padding: 0.2rem;
  border-bottom: 1px solid #bbbbbb;
  color: #f8f8f8;
  text-align: center;
}
.hashtag-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hashtag {
  height: 5vh;
  border-bottom: 1px solid #bbbbbb;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hashtag a {
  text-decoration: none;
  color: #252525;
  font-size:1rem;
  margin-left: 0.5rem;
}

.hashtag div {
  margin-right: 0.5rem;
}
.hashtag div p {
  padding: 0.3rem;
  background: #3793d1;
  border-radius: 20px;
  color: white;
}
/* .hashtag {
  padding: 0.5rem;
  background: #3793d1;
} */

.hashtag:last-of-type {
  border:none;
}